*.pqt
*.xlsx
/2012-day-types.pqt
/2012.pqt
/2013-day-types.pqt
/2013.pqt
/2014-day-types.pqt
/2014.pqt
/2015-day-types.pqt
/2015.pqt
/2016-day-types.pqt
/2016.pqt
/2017-day-types.pqt
/2017-hourly-system.pqt
/2017-hourly-total.pqt
/2017-hourly.pqt
/2017.pqt
/2018-day-types.pqt
/2018-hourly-system.pqt
/2018-hourly-total.pqt
/2018-hourly.pqt
/2018.pqt
/2019-day-types.pqt
/2019-hourly-system.pqt
/2019-hourly-total.pqt
/2019-hourly.pqt
/2019.pqt
/2020-day-types.pqt
/2020-hourly-system.pqt
/2020-hourly-total.pqt
/2020-hourly.pqt
/2020.pqt
/2021-day-types.pqt
/2021-hourly-system.pqt
/2021-hourly-total.pqt
/2021-hourly.pqt
/2021.pqt
/2022-day-types.pqt
/2022-hourly-system.pqt
/2022-hourly-total.pqt
/2022-hourly.pqt
/2022.pqt
/2023-day-types.pqt
/2023-hourly-system.pqt
/2023-hourly-total.pqt
/2023-hourly.pqt
/2023.pqt
/2024-day-types.pqt
/2024-hourly-system.pqt
/2024-hourly-total.pqt
/2024-hourly.pqt
/2024.pqt
/2025-day-types.pqt
/2025-hourly-system.pqt
/2025-hourly-total.pqt
/2025-hourly.pqt
/2025.pqt
/2026-day-types.pqt
/2026-hourly-system.pqt
/2026-hourly-total.pqt
/2026-hourly.pqt
/2026.pqt
/all.pqt
/all.xlsx
/ezpass.pqt
/traffic.pqt
